<!DOCTYPE html>
<html>
  <head>
    <title>Qrcodeproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

    <body id="<%= controller_name %>-<%= action_name %>">
      <% unless controller_name == "pages" && action_name == "home" %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= render 'shared/flashes' %>
      <div class=<%= 'container' unless ['orders'].include?(controller_name) && ['edit', 'show'].include?(action_name) %>>
        <%= yield %>
      </div>
      <% unless ['pages', 'orders', 'basic_qr_codes','qr_codes','orders'].include?(controller_name) && ['home', 'edit', 'index','new','show'].include?(action_name) %>
        <%= render 'shared/footer' %>
      <% end %>
    </body>
  </html>
